main {
    margin-top: 7vh;
    height: calc(93vh - 8%);
    display: grid;
    grid-template-columns: 80% 20%;;
    padding: 4%;
}

div#messages {
    overflow-y: auto;
    height: calc(93vh - 8%);
}
div#messages > * {
    border-bottom: 1px solid gray;
}
div#messages > * > #sender__container {
    color: gray;
}

div#message-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea#message-editor__texter {
    border: none;
    border-radius: 0px;
    width: 100%;
    resize: none;
    height: 50%;
    background-color: var(--container);
    border-radius: 12px;
    padding: 2%;
    font-size: 18px;
}
textarea#message-editor__texter:focus {
    outline: none;
    box-shadow: 0px 0px 10px -8px gray;
}

div#message-editor > * {
    width: 90%;
}

* {
    overflow: hidden;
}