@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
    --accent: rgb(0, 122, 255);
    --container: rgb(241, 241, 241);
    --background: white;

    font-family: Inter;
    transition: all .2s ease;
    /* overflow: hidden; */
}

body {
    background: var(--background);
    max-height: 100vh;
    width: 100vw;

    margin: 0;
    margin-block: 0;
    padding: 0;
    padding-block: 0;
}

header {
    height: 7vh;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

input {
    font-size: 20px;
    padding: 12px;
    width: 30%;
    border: 1px solid gray;
    border-radius: 24px;
}
input[type="text"] {
    margin-left: 2%;
    background-color: var(--container);
}
input[type="text"]:focus {
    background-color: white;
}

input[type="submit"] {
    margin-right: 2%;
    background-color: var(--accent);
    color: white;
    cursor: pointer;
    max-width: 250px;
}

h1 {
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 2%;
}